<div class="container-fluid fluid-screen-page" style="text-align: center; background-color: #d9edf7;">
    <div class="row" style="padding-bottom: 3vh;">
        <div class="col-sm-2">
            about
        </div>
        <div class="col-sm-2">
            contact
        </div>
        <div class="col-sm-2">
            shipping
        </div>
        <div class="col-sm-2">
            return policy
        </div>
        <div class="col-sm-2">
            terms & conditions
        </div>
        <div class="col-sm-2">
            privacy policy
        </div>
    </div>
    <div class="row" style="padding-bottom: 3vh;">
        <div class="col-xs-1"></div>
        <div class="col-xs-3">
            facebook
        </div>
        <div class="col-xs-4">
            instagram
        </div>
        <div class="col-xs-3">
            tumblr
        </div>
        <div class="col-xs-1"></div>
    </div>
    &copy;|PLAYGROUND
</div>