<div id="myCarousel" class="carousel slide carousel-fade full-screen-page" data-ride="carousel" data-interval="6000"
     data-pause="false" style="width: 100vw; height: 100vh;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="fill" style="background-image:url('resources/images/raw-7.jpg');"></div>
        </div>

        <div class="item">
            <div class="fill" style="background-image:url('resources/images/raw-8.jpg');"></div>
        </div>
    </div>
</div>
<div id="scroll-over" class="container-fluid fluid-screen-page">
    <img src="resources/images/raw-7.jpg" />
</div>
<div id="about-us" class="container-fluid fluid-screen-page">
    <div class="row">
        <div class="col-xs-6" style="text-align: right;">
            <p id="mission-statement">
                <b>PLAYGROUND</b><br/>
                is the clothing store you never knew you needed.<br/>
                // dedicated to the proliferation and accumulation of dope vintage rare clothes<br/>
                // curated with purpose<br/>
                // with a thing for color
            </p>
        </div>
        <div class="col-xs-6">
            <img src="resources/images/raw-11.jpg" style="width: 30vw;" />
        </div>
    </div>
</div>
<div class="container-fluid fluid-screen-page">
    <img src="resources/images/raw-7.jpg" style="width: 80vw; margin: auto; display: block;" />
    <br/>
    <p>
        ...to go back to elementary school [being a kid] when girls didn’t want anything but chocolate milk and for you [a boy] to hold their hand on the PLAYGROUND
    </p>
</div>
<div id="picture-grid" class="container-fluid fluid-screen-page" style="padding-left: 0; padding-right: 0;">
    <div class="roww">
        <img src="resources/images/raw-7.jpg" style="width: calc((100vw - 30px) * .3)" />
        <img src="resources/images/raw-7.jpg" style="width: calc((100vw - 30px) * .4)" />
        <img src="resources/images/raw-7.jpg" style="width: calc((100vw - 30px) * .3)" />
    </div>
    no matter
    <div class="roww">
        <img src="resources/images/raw-7.jpg" style="width: calc((100vw - 30px) * .3)" />
        <img src="resources/images/raw-7.jpg" style="width: calc((100vw - 30px) * .4)" />
        <img src="resources/images/raw-7.jpg" style="width: calc((100vw - 30px) * .3)" />
    </div>
</div>