<nav class="navbar navbar-fixed-top nav-focus">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!-- Burger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-items" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li class="zocial-cart nav-cart">(0)</li>
            </ul>
            <!-- Brand -->
            <a class="navbar-brand pull-left" routerLink="/home">PLAYGROUND</a>
        </div>

        <div style="display: block;">
            <!-- Collapses into burger -->
            <div class="collapse navbar-collapse ib" id="collapsable-items">
                <ul class="nav navbar-nav nav-center">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            shop
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a [routerLink]="['/shop', 'dresses']">dresses</a></li>
                            <li><a [routerLink]="['/shop', 'tops']">tops</a></li>
                            <li><a [routerLink]="['/shop', 'outerwear']">outerwear</a></li>
                            <li><a [routerLink]="['/shop', 'pants']">pants</a></li>
                            <li><a [routerLink]="['/shop', 'skirts']">skirts</a></li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li><a href="#">newness</a></li>
                    <li class="divider-vertical"></li>
                    <li><a routerLink="/collections">collections</a></li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li><a href="#">shopping bag (0)</a></li>
            </ul>
        </div>
    </div>
</nav>